In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# 定义文件全局变量
path = "/Users/skyamz/Desktop/JDD_Loan_Forecasting_Qualification/initdata/"

# 加载文件
file_order = pd.read_csv(path + "t_order.csv")
file_click = pd.read_csv(path + "t_click.csv")
file_user = pd.read_csv(path + "t_user.csv")
file_loan = pd.read_csv(path + "t_loan.csv")
file_loan_sum = pd.read_csv(path + "t_loan_sum.csv")

# 格式化时间
file_order['buy_time_format'] = pd.to_datetime(file_order['buy_time'])

# 创建索引
file_order = file_order.set_index('buy_time_format')

#聚合用户订单月份数据
def user_order_month_aggregate(month):
    # 取月份数据
    file_order_month = file_order[month]
    # 重置索引
    file_order_month = file_order_month.reset_index()
    # 统计用户订单某个类目的价格、数量、折扣
    file_order_month_sum = file_order_month.groupby(['uid','cate_id'])['price','qty','discount'].sum()
    # 重置索引
    file_order_month_sum = file_order_month_sum.reset_index()
    # 合并2列
    file_order_month_sum['cate_id_and_count'] = file_order_month_sum['cate_id'].astype('str') + ':' +  file_order_month_sum['qty'].astype('str')
    # 统计用户下单类目
    file_order_month_sum_unique_cate_list = file_order_month_sum.groupby('uid')['cate_id_and_count'].unique()
    # 重置索引
    file_order_month_sum_unique_cate_list = file_order_month_sum_unique_cate_list.reset_index()
    # 统计用户订单全部价格、数量、折扣
    file_order_month_total = file_order_month.groupby(['uid'])['price','qty','discount'].sum()
    # 重置索引
    file_order_month_total = file_order_month_total.reset_index()
    # 将数据进行聚合操作
    user_order_month_aggregate = pd.merge(file_order_month_sum_unique_cate_list,file_order_month_total,how='outer',on='uid')
    return user_order_month_aggregate

# 索引各个月份数据
file_order_month_aggregate_11 = user_order_month_aggregate('2016-11')
file_order_month_aggregate_10 = user_order_month_aggregate('2016-10')
file_order_month_aggregate_09 = user_order_month_aggregate('2016-09')
file_order_month_aggregate_08 = user_order_month_aggregate('2016-08')

# 合并
file_click['pid_param'] = file_click['pid'].astype('str') +'_' + file_click['param'].astype('str')

# 用户点击统计
user_click_count = pd.DataFrame(file_click.groupby(['uid','pid_param'])['uid'].count())

# 重命名统计列
user_click_count.columns = ['click_count']

# 查询某个用户的点击统计
def user_click_count_serch(uid):
   user_click_count_serch = user_click_count.xs(uid, level='uid')
   return user_click_count_serch

# 查询某个参数的用户点击
def pid_and_param_click_count_serch(pid_param):
   pid_and_param_click_count_serch = user_click_count.xs(pid_param, level='pid_param')
   return pid_and_param_click_count_serch

# 查询用户的点击统计
# user_click_count_serch(1)

# 查询某个参数的用户点击
# pid_and_param_click_count_serch('8_1')

# 重置索引,并设置索引为uid
user_click_count_detail = user_click_count.reset_index().set_index('uid')

# 统计用户的总点击次数
user_click_count_total = pd.DataFrame(user_click_count.groupby('uid')['click_count'].sum())

# 重命名列名称
user_click_count_total.columns = ['click_count_total']

# 重置索引
user_click_count_total = user_click_count_total.reset_index()

# 合并2列为字典
user_click_count_detail['param_and_click'] = user_click_count_detail['pid_param'].astype('str') + ':' + user_click_count_detail['click_count'].astype('str')

# 合并分组
user_click_count_detail_aggregate = pd.DataFrame(user_click_count_detail.groupby('uid')['param_and_click'].unique())

# 重置索引
user_click_count_detail_aggregate = user_click_count_detail_aggregate.reset_index()

# 用户点击聚合
user_click_count_aggregate = pd.merge(user_click_count_detail_aggregate,user_click_count_total,how='outer',on='uid')

# 各月用户点击和订单数据汇总
user_click_count_and_order_month_aggregate_08 = pd.merge(user_click_count_detail_aggregate,file_order_month_aggregate_08,how='outer',on='uid')
user_click_count_and_order_month_aggregate_09 = pd.merge(user_click_count_detail_aggregate,file_order_month_aggregate_09,how='outer',on='uid')
user_click_count_and_order_month_aggregate_10 = pd.merge(user_click_count_detail_aggregate,file_order_month_aggregate_10,how='outer',on='uid')
user_click_count_and_order_month_aggregate_11 = pd.merge(user_click_count_detail_aggregate,file_order_month_aggregate_11,how='outer',on='uid')

# 重置索引
user_click_count_detail = user_click_count_detail.reset_index()

# 统计用户最大点击
user_click_count_detail_max = user_click_count_detail.loc[user_click_count_detail.groupby(['uid'])['click_count'].idxmax()].sort_values(by='uid')

# 查询每月订单最大数量
def file_order_month_max(month):
    file_order_month_sum = file_order[month].reset_index().groupby(['uid','cate_id'])['price','qty','discount'].sum().reset_index()
    file_order_month_sum.loc[file_order_month_sum.groupby(['uid'])['qty'].idxmax()].sort_values(by='uid')
    file_order_month_sum_max = file_order_month_sum.loc[file_order_month_sum.groupby(['uid'])['qty'].idxmax()].sort_values(by='uid')
    file_order_month_sum_max.columns = ['uid','cate_id_by_max_qty','price_by_max_qty','qty_max','discount_by_max_qty']
    return file_order_month_sum_max

# 查询点击最多次数和购买数量最大
def click_count_max_and_order_qty_max(month):
    click_count_max_and_order_qty_max = pd.merge(user_click_count_detail_max,file_order_month_max(month),how='outer',on='uid')
    return click_count_max_and_order_qty_max

In [32]:
def loan_count(month):
    file_loan['loan_time_format'] = pd.to_datetime(file_loan['loan_time'])
    file_loan_index = file_loan.set_index('loan_time_format')
    file_loan_count = pd.DataFrame(file_loan_index[month].groupby('uid')['uid'].count())
    file_loan_count.columns = ['loan_count']
    file_loan_count = file_loan_count.reset_index()
    file_loan_sum = pd.DataFrame(file_loan_index[month].groupby(['uid'])['loan_amount'].sum())
    file_loan_sum.columns = ['loan_sum']
    file_loan_sum = file_loan_sum.reset_index()
    file_loan_count_and_sum = pd.merge(file_loan_count,file_loan_sum,how='outer',on='uid')
    file_loan_count_and_sum['loan_sum_mean'] = file_loan_count_and_sum['loan_sum']/file_loan_count_and_sum['loan_count']
    return file_loan_count_and_sum

In [28]:
#构建每个月的用户特征
def feature_month_uid(month):
    click_count_max_and_order_qty_max_tmp = click_count_max_and_order_qty_max(month)
    loan_count_tmp = loan_count(month)
    feature_month_uid = pd.merge(click_count_max_and_order_qty_max_tmp,loan_count_tmp,how='outer',on='uid')
    return feature_month_uid

In [34]:
pd.merge(feature_month_uid('2016-08'),file_user,how='outer',on='uid')

,uid,pid_param,click_count,param_and_click,cate_id_by_max_qty,price_by_max_qty,qty_max,discount_by_max_qty,loan_count,loan_sum,loan_sum_mean,age,sex,active_date,limit
0,1,8_1,66.0,8_1:66,22.0,73.158573,22.0,18.936605,NaN,NaN,NaN,35,1,2016-04-27,5.974677
1,4,10_16,50.0,10_16:50,22.0,14.665733,4.0,11.159862,2.0,10.445692,5.222846,30,1,2016-03-26,5.292154
2,5,8_1,7.0,8_1:7,1.0,52.248393,36.0,24.480130,NaN,NaN,NaN,30,2,2015-12-08,6.292055
3,6,10_28,112.0,10_28:112,36.0,11.949272,4.0,2.554230,NaN,NaN,NaN,25,1,2016-04-13,6.292055
4,7,10_16,33.0,10_16:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-02-06,6.153414
5,8,10_16,81.0,10_16:81,1.0,43.810418,42.0,8.127342,NaN,NaN,NaN,35,1,2016-04-15,6.153414
6,9,10_28,5.0,10_28:5,26.0,11.585922,3.0,0.000000,NaN,NaN,NaN,40,1,2015-12-27,6.292055
7,11,8_1,7.0,8_1:7,9.0,9.054182,4.0,2.554230,NaN,NaN,NaN,25,1,2016-06-28,6.292055
8,14,10_16,67.0,10_16:67,26.0,2.866920,1.0,0.000000,NaN,NaN,NaN,30,1,2016-01-28,5.974677
9,16,6_5,14.0,6_5:14,14.0,10.476114,4.0,4.383337,NaN,NaN,NaN,30,1,2016-06-15,5.974677
10,17,10_16,18.0,10_16:18,44.0,2.647676,4.0,3.074837,NaN,NaN,NaN,30,2,2016-05-31,5.292154
11,18,10_28,1.0,10_28:1,11.0,5.827754,2.0,3.376161,NaN,NaN,NaN,50,1,2016-03-24,5.722768
12,19,7_9,3.0,7_9:3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,1,2016-03-04,5.974677
13,20,10_16,29.0,10_16:29,3.0,18.710273,8.0,16.992488,6.0,30.573341,5.095557,35,1,2016-01-28,6.292055
14,22,10_28,188.0,10_28:188,26.0,18.435755,411.0,0.000000,NaN,NaN,NaN,30,1,2016-01-30,5.292154
15,23,10_16,79.0,10_16:79,10.0,25.752178,9.0,15.675134,5.0,19.312973,3.862595,35,1,2015-12-17,5.722768
16,24,10_16,81.0,10_16:81,25.0,35.098911,34.0,8.470803,NaN,NaN,NaN,35,1,2016-01-28,6.292055
17,25,8_1,127.0,8_1:127,15.0,17.110884,7.0,6.863318,NaN,NaN,NaN,25,1,2016-01-02,5.974677
18,26,8_1,120.0,8_1:120,36.0,11.732608,4.0,3.381564,NaN,NaN,NaN,35,1,2016-06-18,6.292055
19,27,10_28,7.0,10_28:7,25.0,27.240113,10.0,13.536703,NaN,NaN,NaN,30,1,2016-02-07,5.722768
20,28,10_28,33.0,10_28:33,10.0,9.793121,3.0,6.589657,1.0,4.292651,4.292651,25,1,2016-04-05,6.153414
21,30,10_28,37.0,10_28:37,1.0,42.169510,56.0,18.305419,NaN,NaN,NaN,35,1,2016-02-14,5.974677
22,31,10_28,68.0,10_28:68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,1,2015-12-19,6.292055
23,32,8_1,33.0,8_1:33,25.0,13.482919,10.0,2.715677,NaN,NaN,NaN,30,1,2016-06-06,5.974677
24,33,10_28,2.0,10_28:2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,1,2016-05-28,5.974677
25,35,10_16,30.0,10_16:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,1,2016-04-10,5.722768
26,37,10_28,17.0,10_28:17,14.0,50.179830,25.0,12.060704,NaN,NaN,NaN,35,1,2016-05-10,5.974677
27,38,8_1,3.0,8_1:3,44.0,2.714891,4.0,3.203355,NaN,NaN,NaN,30,1,2016-01-20,5.974677
28,39,10_28,93.0,10_28:93,19.0,32.888237,12.0,17.958687,1.0,4.292651,4.292651,35,1,2016-02-16,6.292055
29,40,1_19,4.0,1_19:4,36.0,30.189279,6.0,12.982349,NaN,NaN,NaN,35,2,2016-01-31,6.292055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90963,54947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-05-17,5.722768
90964,62770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-06-25,5.974677
90965,10075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-01-26,5.722768
90966,31322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,1,2016-06-23,6.153414
90967,18633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,1,2016-05-05,6.292055
90968,5114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,1,2016-06-19,5.292154
90969,90626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,1,2016-03-05,5.974677
90970,19059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-02-26,5.974677
90971,23889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,1,2016-06-03,5.722768
90972,20562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-05-10,5.292154
90973,13313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,2,2016-02-11,5.292154
90974,43651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,2,2016-05-31,6.292055
90975,29813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-03-29,5.292154
90976,66700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,1,2016-06-02,5.292154
90977,36980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-05-10,5.722768
90978,33615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,1,2015-12-27,5.292154
90979,47478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-06-19,5.292154
90980,64894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,1,2016-06-14,6.292055
90981,59215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,1,2016-02-16,5.722768
90982,80228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,1,2016-06-16,5.722768
90983,38373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-06-14,6.292055
90984,64619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,2,2016-06-21,5.292154
90985,70481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,1,2016-01-30,5.292154
90986,2718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,1,2015-12-15,6.292055
90987,55150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,1,2016-06-22,6.153414
90988,34600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,1,2016-01-29,5.292154
90989,44372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,2,2016-03-28,5.722768
90990,89053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,2,2016-05-01,6.292055
90991,65125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,1,2016-05-06,5.974677
90992,50224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,2,2016-03-29,5.292154

In [35]:
file_loan = file_loan.set_index('loan_time_format')

In [38]:
file_loan = file_loan['2016-08'].reset_index()

In [39]:
file_loan['uid'].group

         loan_time_format    uid           loan_time  loan_amount  plannum
0     2016-08-03 00:05:26  12135 2016-08-03 00:05:26     3.862595        1
1     2016-08-03 00:13:25  41403 2016-08-03 00:13:25     5.584137        3
2     2016-08-03 00:13:58  74458 2016-08-03 00:13:58     4.723017        1
3     2016-08-03 00:19:33  12959 2016-08-03 00:19:33     3.862595        1
4     2016-08-03 00:23:13  89641 2016-08-03 00:23:13     4.292651        1
5     2016-08-03 00:24:32   3272 2016-08-03 00:24:32     3.862595        1
6     2016-08-03 00:36:19  90639 2016-08-03 00:36:19     4.544373        1
7     2016-08-03 00:50:20  66044 2016-08-03 00:50:20     4.622093        1
8     2016-08-03 01:55:12  89641 2016-08-03 01:55:12     4.292651        1
9     2016-08-03 02:26:52  41227 2016-08-03 02:26:52     5.070593        3
10    2016-08-03 03:05:00  67319 2016-08-03 03:05:00     3.862595        1
11    2016-08-03 03:12:57  76603 2016-08-03 03:12:57     4.723017        1
12    2016-08-03 03:13:24  76603 2016-08-03 03:13:24     4.292651        1
13    2016-08-03 03:13:42  76603 2016-08-03 03:13:42     4.405830        1
14    2016-08-03 04:04:47  86428 2016-08-03 04:04:47     4.974843        3
15    2016-08-03 04:12:03  84537 2016-08-03 04:12:03     3.862595        1
16    2016-08-03 04:13:41  42635 2016-08-03 04:13:41     4.292651        1
17    2016-08-03 04:45:15  32940 2016-08-03 04:45:15     4.292651       12
18    2016-08-03 05:06:43  61669 2016-08-03 05:06:43     4.544373        3
19    2016-08-03 05:47:37  53574 2016-08-03 05:47:37     5.153538        1
20    2016-08-03 05:59:25  16120 2016-08-03 05:59:25     4.584448        1
21    2016-08-03 06:18:01  72803 2016-08-03 06:18:01     4.292651        1
22    2016-08-03 06:27:10  42528 2016-08-03 06:27:10     5.722768        1
23    2016-08-03 07:06:09  80684 2016-08-03 07:06:09     4.292651        1
24    2016-08-03 07:08:49  57009 2016-08-03 07:08:49     5.070593        1
25    2016-08-03 07:13:15  67212 2016-08-03 07:13:15     4.909402       12
26    2016-08-03 07:25:15  69653 2016-08-03 07:25:15     5.722768       12
27    2016-08-03 07:25:47  13939 2016-08-03 07:25:47     6.722719       12
28    2016-08-03 07:36:06  48003 2016-08-03 07:36:06     6.153414       12
29    2016-08-03 07:36:34  21173 2016-08-03 07:36:34     4.974843       12
...                   ...    ...                 ...          ...      ...
48020 2016-08-31 18:34:38  52489 2016-08-31 18:34:38     5.292154        1
48021 2016-08-31 18:35:02  50184 2016-08-31 18:35:02     5.153538        1
48022 2016-08-31 18:40:34   6770 2016-08-31 18:40:34     4.723017        1
48023 2016-08-31 19:02:47  79123 2016-08-31 19:02:47     3.862595        1
48024 2016-08-31 19:11:10  29866 2016-08-31 19:11:10     4.292651        3
48025 2016-08-31 19:17:03  86613 2016-08-31 19:17:03     4.974843        1
48026 2016-08-31 19:19:21  16227 2016-08-31 19:19:21     4.974843        3
48027 2016-08-31 19:20:03   3137 2016-08-31 19:20:03     4.292651        3
48028 2016-08-31 19:22:06  40783 2016-08-31 19:22:06     5.885770        3
48029 2016-08-31 19:28:53  55861 2016-08-31 19:28:53     4.861602        1
48030 2016-08-31 19:31:24  14199 2016-08-31 19:31:24     6.405333       12
48031 2016-08-31 19:46:22  64371 2016-08-31 19:46:22     3.862595        1
48032 2016-08-31 19:49:31  66888 2016-08-31 19:49:31     3.862595        1
48033 2016-08-31 19:50:46   3591 2016-08-31 19:50:46     4.292651        1
48034 2016-08-31 19:50:50  64371 2016-08-31 19:50:50     4.292651        1
48035 2016-08-31 19:57:57  42235 2016-08-31 19:57:57     5.445510       12
48036 2016-08-31 22:11:56  69257 2016-08-31 22:11:56     3.862595        1
48037 2016-08-31 22:17:05  44901 2016-08-31 22:17:05     5.088091        3
48038 2016-08-31 22:21:49  78268 2016-08-31 22:21:49     4.836248        1
48039 2016-08-31 22:29:13  64371 2016-08-31 22:29:13     4.455524        1
48040 2016-08-31 22:36:35  64693 2016-08-31 22:36:35     4.455524        1
48041 2016-08-31 22:44:00   9496 2016-08-31 22:44:00     6.405333        1
48042 2016-08-31 22:47:44  34714 2016-08-31 22:47:44     3.975671        1
48043 2016-08-31 22:57:43  31881 2016-08-31 22:57:43     5.292154        1
48044 2016-08-31 23:01:50  51245 2016-08-31 23:01:50     5.584137        3
48045 2016-08-31 23:09:13  36872 2016-08-31 23:09:13     5.722768        3
48046 2016-08-31 23:13:20  73019 2016-08-31 23:13:20     4.723017       12
48047 2016-08-31 23:13:18  41388 2016-08-31 23:13:18     4.292651        3
48048 2016-08-31 23:22:00   2053 2016-08-31 23:22:00     3.862595        1
48049 2016-08-31 23:25:53  48018 2016-08-31 23:25:53     4.292651        1

[48050 rows x 5 columns]